@model MyShop.Core.ViewModels.ProductListViewModel

@{
    ViewBag.Title = "Home Page";
}

<h1>Products</h1>

<div class="col-md-2">
    <h4>Find By Categories</h4>
    <div class="list-group">
        @Html.ActionLink("All", "Index", null, new {@class=Request["Category"]==null?"list-group-item active":"list-group-item" })

        @foreach (var cat in Model.ProductCategories)
        {

            @Html.ActionLink(cat.Category, "Index", new { Category = cat.Id }, new { @class = Request["Category"] == cat.Category ? "list-group-item active" : "list-group-item" })

        }
    </div>
</div>
<div class="col-md-10">

    @foreach (var product in Model.Products)
    {
        <div class="col-md-3" style="height:300px; padding:10px;margin:10px;border:solid thin whitesmoke">
            <div class="col-md-12">
                <img class="img-responsive" style="height:160px" src="~/Content/ProductImages/@product.Image" />
            </div>
            <div class="col-md-12">
                <strong>@Html.ActionLink(product.Name, "Details", new { id = product.Id })</strong>
            </div>
            <div class="col-md-12">
                <p>@product.Description</p>
            </div>
            <div class="col-md-12">
                <h4>£@product.Price</h4>
            </div>
            <div class="col-md-12">
                <a href="@Url.Action("AddToBasket","Basket",new {Id=product.Id })" class="btn btn-primary">Add to Basket</a>
            </div>
        </div>
    }

</div>

<div class="col-md-12 clearfix"/>